Repository DorianLudm/Appli_Pompiers, pull requests merged in 2023-12, with the labels that each got.

#49 Ajout DOCUMENT.descriptionDoc et REPERTOIRE
  BD/creation.sql
Labels: Base de données

#53 Correction responsive accueil admin
  installations_pip.sh
  site_web/static/css/accueil_admin.css
  site_web/static/css/gerer_tags.css
  site_web/templates/accueil_admin.html
  site_web/templates/gerer_tags.html
  site_web/views.py
Labels: developpement

#56 suppression document
  site_web/templates/recherche_doc_admin.html
  site_web/views.py
Labels: Flask, Web (HTML/CSS)

#59 Correction taille aside et prévisualisation
  BD/insertion.sql
  site_web/static/css/recherche_doc.css
  site_web/templates/recherche_doc.html
Labels: Web (HTML/CSS), Responsive

#67 Changement bouton accueil admin
  site_web/static/css/accueil_admin.css
  site_web/templates/accueil_admin.html
Labels: enhancement, Web (HTML/CSS), Responsive
