Repository DorianLudm/Appli_Pompiers, pull requests merged in 2023-11, with the labels that each got.

#25 CSS Fixed (Problèmes de chemin)
  site_web/templates/ajout_compte.html
  site_web/templates/base.html
Labels: Web (HTML/CSS)

#28 debut implémentation form
  site_web/templates/ajout_compte.html
  site_web/views.py
Labels: Base de données, Web (HTML/CSS)

#35 Responsive header
  site_web/static/css/accueil_admin.css
  site_web/static/css/header.css
  site_web/templates/informations_utilisateur.html
Labels: Web (HTML/CSS), Responsive

#37 Nom onglet
  site_web/static/css/header.css
  site_web/templates/ajouter_document.html
  site_web/views.py
Labels: Web (HTML/CSS), Responsive

#40 Ajout du bouton pour ajouter un document
  site_web/templates/recherche_doc_admin.html
Labels: enhancement, Web (HTML/CSS)

#41 Ajout du bouton pour retourner à l'accueil
  site_web/static/css/recherche_comptes.css
  site_web/templates/rechercheComptes.html
Labels: enhancement, Web (HTML/CSS)

#43 Recherche doc
  site_web/models.py
  site_web/static/css/recherche_doc.css
  site_web/templates/recherche_doc.html
  site_web/views.py
Labels: Web (HTML/CSS)

#45 Fix décalage dans "rechercheComptes.html" sur la ligne de notre compte
  site_web/static/css/recherche_comptes.css
  site_web/templates/rechercheComptes.html
Labels: Web (HTML/CSS)

#47 Retour acceuil selon role via logo
  site_web/static/css/accueil_admin.css
  site_web/static/css/header.css
  site_web/templates/base.html
  site_web/views.py
Labels: Flask, Web (HTML/CSS)

#48 Feature modif doc
  site_web/models.py
  site_web/templates/modifier_document.html
  site_web/templates/recherche_doc_admin.html
  site_web/views.py
Labels: Flask, Web (HTML/CSS)
